.activity {
  width: 1000px;
  display: grid;
  margin: 100px auto;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 25px;
  row-gap: 20px;
  justify-items: start;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .activity {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .activity {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.left {
  grid-column: 1/4;
}
.right {
  grid-column: 4/6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
